<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/shared.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
</head>
<body>
    <%- include('includes/login') %>

    <img src="/images/arrow.png" id="arrow" alt="">
    <p>
        CLICK HERE <br>
        TO WIN <br>
        FREE IPHONE 100
    </p>
    <img src="/images/boar.png" alt="" id="boar">
    <img src="/images/image.jpg" alt="" id="image">
    <script src="/js/index.js"></script>
</body>
</html>