<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/scoreboard.css">
</head>
<body>
    <p>
        <a href="/game">card game</a> 
    </p>
        
    
   
    <p id="scoreandrulestext">
        <a href="">rules</a> <br>
        <a href="/scoreboard">scoreboard</a> 
    </p>
    
    <table>
        <tr id="scoreboardtop">
            <td> </td>
            <td id="toptext">username</td>
            <td id="toptext">score</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Adam</td>
            <td>100</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Jerry</td>
            <td>80</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Matti</td>
            <td>70</td>
        </tr>
    </table>
</body>
</html>