@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

@font-face {
  font-family: "Honoria";
  src: url("Honoria-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f4f0db;
  background-image: url(/images/baroque\(h\).png);
  background-size: auto 740px;
  background-repeat: no-repeat;
  background-position: bottom left;
}

/* Select all the images with src attribute containing cardImages */
img[src*="cardImages"] {
    height: 150px; /* Set the height to 57px */
    width: auto; /* Set the width to auto */
}



/* Select the element with id card */
#card {
    margin-left: 10px; /* Add some space on the left of the card names */
}

/* Header lowered */
#header {
  margin-top: 0;
  text-align: center;
  font-family: 'Honoria';
  font-size: 42pt; 
}
#scoreandrulestext {
  margin-top: 0;
  margin-left: 500px;
  margin-right: 500px;
  text-align: center;
  font-family: 'Honoria';
  font-size: 25pt; 

}

a{
  text-decoration: none;
  color: #000;
}

/* Style the button to be transparent and borderless */
button:not(#reset) {
  background: none;
  border: none;
  outline: none;
  margin-bottom: 10px;
}

/* Style the button to have a pointer cursor on hover */
button:hover {
  cursor: pointer;
}

/* Style the image to have a higher z-index than the button */
img {
  z-index: 1;
  position: relative;
}

#game{
  text-align: center;
  margin-top: 280px;
  position: relative;
}

#cardButtons {
  border: 1px solid grey; /* 1px solid grey border */
  border-radius: 10px; /* rounded corners */
  padding: 20px; /* 20px space inside border */
  display: inline-block; /* inline-block mode */
  width: auto; /* auto width */
}

#current{
  font-family: 'Roboto Mono';
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

#baroque {
  position:absolute; 
  top: 0px;
  right: 0px;
  width: auto; 
  height: 740px;
  
}

